@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


@font-face {
    font-family: TW;
    src: url(../fonts/fontscorecomttwcenmt.woff);
}


body {
  background: #fff;
  font-family: 'Open Sans ', sans-serif;
  color:#4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 38px;
  color:#fff;text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

h2{
 font-family: 'Roboto Condensed', sans-serif; 
 font-size:36px;font-weight: 400; color: rgba(37, 151, 0, 0.8);
}

h3{font-family: 'Roboto Condensed', sans-serif; 
  font-size: 32px;
  color: #787878;
  font-weight: 400;
  line-height: 36px;
}

h4{
  font-size: 28px;color:#d07853;
  font-weight: 600;
  line-height: 31px;
}
h5{
  font-size: 24px;color:#d1a303;
  font-weight: 600;
  line-height: 29px;
}
h6{
  font-size: 22px;color:#fae083;
  font-weight: 400;
  line-height: 25px;
}
a {
  color: #2a850b; cursor: pointer; cursor: hand;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}
a.bright {
  color: #fff;font-size:15px;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.inner_contentsubheading{padding-top:18px;font-family: 'Roboto Condensed', sans-serif;font-size:22px;color: #777; line-height: 28px; }
.btn-primary {
  padding: 8px 20px;
  background: #2a850b;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #2a850b;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.top-bar {
  padding: 10px 0;
  background: #191919;
  border-bottom: 1px solid #222;
  line-height: 28px;
}

.top-number{
  color: #fff;
}

.top-number p{
  margin: 0
}

.social{
  text-align: right;
}

.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #2a850b;
  color: #fff;
}

.search i {
  color: #fff;
}

input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0;
  background: #151515;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 35px;font-size: 18px;
  padding-bottom: 28px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #2a850b;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #2a850b;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #2a850b;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/
.slider button {
	
}
.slider button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}



#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;background-color:#f2f2f2;
}

#main-slider .carousel .carousel-content {
 //margin-bottom: 190px;
}

#main-slider .carousel .slide-margin{
 margin-top:90px;
}
.shadow-bringer3 { 
  float:right;text-align:center;
 width:427px; height:auto; color:#fff;font-weight:500;
padding:15px;background:rgba(37, 151, 0, 0.8);

border-radius: 15px;
margin-bottom:20px; display: block !important;
-webkit-box-shadow: -2px 10px 13px 0px rgba(50, 50, 50, 0.62);
-moz-box-shadow:    -2px 10px 13px 0px rgba(50, 50, 50, 0.62);
box-shadow:         -2px 10px 13px 0px rgba(50, 50, 50, 0.62);

}
.shadow-bringer4 { 
  float:left;text-align:left;
 width:100%; height:150px; color:#333;font-weight:500;
padding:15px;background: #509735;

}

#main-slider .carousel h1.top {
  color: #fff;font-weight:600;font-family: 'TW';font-size:40px;
}

#main-slider .carousel h2.top {
  color: #fff;font-weight:400;font-family: 'TW';font-size:30px;
}


#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #2a850b;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .btn-slides {
  padding: 15px 20px;
  background: #2a850b;
 color: #fff;font-weight:400;font-family: 'TW';font-size:30px;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}
#main-slider button{
	width:30%;
	height: 40px;
	background: #ebba11;
	color:#000;font-weight:600;border-radius: 5px 5px 5px 5px;
	font-size:22px; 
        border: 1px solid #0b121a;
	font-family: 'Roboto Condensed';
	
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
#main-slider button:hover{
	background: #fac408;color:#002e57;border: 0px solid #0b121a;
        -webkit-box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
  
}
#main-slider .carousel .slider-img{
  text-align: left; margin-top:20px;margin-left:-28px;
  //position: absolute;
}
#main-slider .carousel .slider-img2{
  text-align: left; margin-top:20px;margin-left:-28px;
  //position: absolute;
}

#main-slider .carousels {
  background: url(../images/slider/bg1.jpg); 
  background-position: 100%;
  background-repeat:no-repeat;
  background-size: cover;
   width:100%; background-color:#f0c018;
  max-height: auto !important;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
 
  display: block !important;
   
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel2 {
  background: url(../images/slider/bg2.jpg); 
  background-position: 100%;
  background-repeat:no-repeat;
  background-size: cover;
   width:100%; background-color:#f0c018;
  max-height: auto !important;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
 
  display: block !important;
   
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel3 {
  background: url(../images/slider/bg3.jpg); 
  background-position: 100%;
  background-repeat:no-repeat;
  background-size: cover;
   width:100%; background-color:#f0c018;
  max-height: auto !important;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
 
  display: block !important;
   
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: #2a850b;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #000;
}

#main-slider .prev {
  left: 10px;
}

#main-slider .next {
  right: 10px;
}

#main-slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 15px 0 0;
  position: relative;
}

#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  left: -3px;
  top: -3px;
}

#main-slider .carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #2a850b;
   margin: 0 15px 0 0;
   border: 1px solid #2a850b;
   position: relative;
}

#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #2a850b;
  border: 1px solid #2a850b;
  left: -3px;
  top: -3px;
}

#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

#feature {
  background: #f2f2f2;
  padding-bottom: 40px;
}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}
.feature-wrap h1{
  font-size:28px;font-weight: 400;margin: 0 0 .1em; padding:0;
  color:#333;font-family: 'Roboto Condensed', sans-serif;text-shadow:none;
}
.feature-wrap h2{
 font-weight: 400; margin: .1em 0 .1em; padding:0;
font-size:18px;	 color: #333;line-height:22px;
 font-family: 'Roboto Condensed', sans-serif;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap .products{
  
  height: auto;
  width: 95%;
  
  background: #ffffff;
  color: #333;
  border: 1px solid #f0c018;
  box-shadow: inset 0 0 0 5px #f0c018;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  //margin-right: 25px;
}

.feature-wrap .products:hover {
  background: #fff;
   box-shadow: inset 0 0 0 5px #fae083;
  -webkit-box-shadow: inset 0 0 0 5px #fae083;
  border: 1px solid #f0c018; cursor: pointer; cursor: hand;
}
.feature-wrap .item-details{
  width:100%;padding:20px;text-align:left;
}
.feature-wrap .item-text{
  width:100%;height:55px;text-align:left;
}
.feature-wrap .small{margin-top:-10px;
font-size:11px; color: #777;
}
.feature-wrap a.small{margin-top:5px;
 font-size:14px;color:#d07853;font-weight:normal;
}


.feature-wrap button{
	width:350px; 
	height: 50px; padding:10px;
	background: #ebba11;
	color:#000;font-weight:600;border-radius: 5px 5px 5px 5px;
	font-size:22px; 
        border: 1px solid #0b121a;
	font-family: 'Roboto Condensed';
	margin-bottom:40px;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.feature-wrap button:hover{
	background: #fac408;color:#002e57;border: 0px solid #0b121a;
        -webkit-box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;  
}

 .post-nav .arrow {background-color: #2a850b;height: 40px;color: #fff; width:40px;text-align: center;
  border-radius: 20px;font-size:28px;  z-index: 5;display: inline-block;line-height:35px;}
 .post-nav .arrow2 {float:right;margin-right:55px;background-color: #2a850b;height: 40px;color: #fff; width:40px;text-align: center;
  border-radius: 20px;font-size:28px;  z-index: 5;display: inline-block;line-height:35px;}
 
 .post-nav .arrow:hover {
  background-color:#fac408;color:#555;
}
.post-nav .arrow2:hover {
  background-color:#fac408;color:#555;
}
.post-nav .desc {width:150px;height:auto;margin-left:50px;margin-top:5px;display: inline-block;}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #2a850b; !important;
  border-color: #2a850b; !important;
  color: #fff;
}

#dashboard {
  background: #f2f2f2;
  padding-bottom: 40px;
}

.dashboard{
  padding: 0;
}

.dashboard-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}


.dashboard .pull-left {
  margin-right: 25px;
}

.dashboard .products{
  
  height: auto;
  width: 95%;
  padding:35px;
  background: #ffffff;
  color: #333;
  border: 3px solid #f0c018;
 
  float: left;
  //margin-right: 25px;
}

.dashboard-wrap .products:hover {
  background: #fff;
  border: 3px solid #f0c018;
}
.dashboard .status{
  display: inline-block;margin-right:18px;
  height: 110px;
  width:200px;
  padding:15px;
  background: #67b168;
  color: #fff;line-height:40px;
  font-size:22px; font-weight:400;font-family: 'Roboto Condensed';
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  position:relative; text-align:center;
  //margin-right: 25px;
}

.dashboard button{
	width:319px; 
	height: 50px; padding:10px;
	background: #ebba11;
	color:#000;font-weight:400;border-radius: 5px 5px 5px 5px;
	font-size:20px; 
        border: 1px solid #0b121a;
	font-family: 'Roboto Condensed';
	margin-bottom:40px;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.dashboard button:hover{
	background: #fff;color:#002e57;border: 0px solid #0b121a;
        -webkit-box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;  
}
.dashboard button2{
	width:50px; 
	 padding:6px;
	background: #2a850b;
	color:#fff;font-weight:400;border-radius: 5px 5px 5px 5px;
	font-size:16px; 
        
	font-family: 'Roboto Condensed';
	
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.dashboard button2:hover{
	background:#f0c018;color:#002e57;border: 0px solid #0b121a;
        
}

.dash_pro{
  list-style:none;
  margin:0;
  padding:0;
}

.dash_pro li{
 display:inline-block;background-color:#faf8f8;padding:8px;margin-top:10px;
}

.dash_pro li a {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a850b;font-size:17px;
 
}

.dash_pro li a:hover{
  background:#f0c018;padding:3px;
  color: #fff;
}
.dashboard .small{
 font-size:12px;color:#555;font-weight:normal;
}

.dashboard a.small{margin-top:5px;
 font-size:15px;color:#C52D2F;font-weight:normal;
}
.dashboard a.small2{margin-top:5px;
 font-size:15px;color:#d1a303;font-weight:normal;
}


#services {
  background: #f0c018 url(../images/bg_services.png);
  background-size: cover;
}
.services-wrap {
  padding: 40px 30px; color:#eef0ed;
  background:#006600;
  border-radius: 4px;
  margin: 0 0 40px;
}
.services-wrap h2{
  color: #fff;text-align:center;font-size:40px;
}
.services-wrap h3 {
  font-size:20px;color: #fff;
  margin: 10px 10px;font-weight:400;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

#middle {
  background: #f2f2f2;
}


.accordion h2{
  margin-bottom: 25px; font-size:30px;
}

.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6; 
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{font-size:16px;
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
  border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;font-size: 22px;
}

.accordion-inner img{
  border-radius: 4px;
}

.accordion-inner h4{
  margin-top: 0;font-size:30px;
}
.accordion-inner p{font-size:16px;}
.panel-heading.active{
  background: #1f1f20;
}

.panel-heading.active .panel-title>a{
  color:#fff;font-size: 24px;
}

a.accordion-toggle  i{
  width: 45px;
  line-height: 44px;
  font-size: 30px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i{
  background: #2a850b;
  color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #2a850b;
  color: #fff;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}

.testimonial h2{
  margin-top: 0;
}

.testimonial-inner {
  color:#858586;
  font-size: 14px;
}

.testimonial-inner .pull-left{
  border-right: 1px solid #e7e7e7;
  padding-right: 15px;
  position: relative;
}

.testimonial-inner .pull-left:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -5px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  border: 1px solid #e7e7e7;
  right: -5px;
  border-left: 0 none;
  border-bottom: 0 none;
}







ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}


.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #C52D2F;
  height: 84px;
  margin-top: 110px;
}

.footer_left {
  padding: 10px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}




.form-level{
    position: relative;
}
.form-level input{
    width:85%;font-family: 'Roboto Condensed', sans-serif;
    font-size:18px; 
    padding: 10px;background-color:#f1f1f1;
    border: 1px solid #0c097a; border-radius: 5px 5px 5px 5px;
    margin-bottom: 12px;
}

.form-level input.chk{
    width:25px;font-family: 'Roboto Condensed', sans-serif;
    font-size:22px; 
    padding: 10px;background-color:#f1f1f1;
    border: 1px solid #0c097a; border-radius: 5px 5px 5px 5px;
   
}
.form-level select {
   
    width:85%;font-family: 'Roboto Condensed', sans-serif;
    font-size:18px; 
    padding: 10px;
    border: 1px solid #0c097a; border-radius: 5px 5px 5px 5px;
    margin-bottom: 12px;
    
   }/*map*/

.form-level ::-webkit-input-placeholder {
   color: #555;
   text-transform: capitalize;
}

.form-level :-moz-placeholder { /* Firefox 18- */
   color: #555;  
   text-transform: capitalize;
}

.form-level ::-moz-placeholder {  /* Firefox 19+ */
   color: #555;  
   text-transform: capitalize;
}

.form-level :-ms-input-placeholder {  
   color: #555;  
   text-transform: capitalize;
}


.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:left;margin-left:20px;position:relative;
  margin-bottom:10px;
}

.blog_category li a {
  background:#fff;font-size:16px;
  border-radius: 4px;font-family: 'Roboto Condensed', sans-serif;
  color: #2a850b; width:200px;
  display: inline-block;
  padding: 5px 10px;
}
.blog_category li a:hover{
  background:#f0c018;
  color: #fff;
}

.badge:before {
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 15px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #2a850b;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
 position: relative;
  left:90px;
  top:0px;
  font-weight: normal
}



/***********************
********* Footer ******
************************/
#bottom {
  background: #f5f5f5;
  border-bottom: 5px solid #2a850b;
  font-size: 14px;
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:22px;
  color: #000;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #808080;
}

#bottom ul li a:hover {
  color: #2a850b;
}

#bottom .widget {
  margin-bottom: 0;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #191919;
}

#footer a {
  color: #fff; font-size:14px;
}

#footer a:hover {
  color: #f0c018;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}






